/* Cleber Matheus WebSite v0.9.8.2 */
html{
	height: 100%;
}
body{
	background-color: rgb(0, 0, 200);
	background-size: 100%;
	background-attachment: fixed;
	color: white;
	font-family: "Segoe UI Light", "Segoe UI";
	margin: auto;
	text-align: left;
	width: auto;
}
::selection{
	background-color: white;
	color: rgb(0, 0, 200);
}
::-moz-selection{
	background-color: white;
	color: rgb(0, 0, 200);
}
h1, h2, h3, h4, h5,h6{
	text-align: left;
}
h1, nav, section{
	background-color: rgba(0, 0, 255, 1.0);
}
h1{
	font-size: 50px;
	top: -40px;
	width: 100%;
	left: 60px;
	height: 70px;
}

h1, #optMenu, #opt2Menu{
	z-index: 5000;
	position: fixed;
}

#conteudo{
	width: 100%;
	left: 0%;
	top: 70px;
	position: absolute;
	height: auto;
}
button{
	color: white;
	border: blue solid;
	background: linear-gradient(to bottom, blue, white);
}
ul{
	list-style-type: none;
}
a:link{
	color: white;
	text-decoration: none;
}
a:visited{
	color: white;
	text-decoration: none;
}
#optMenu{
	display: block;
	top: 0px;
	left: 0px;
	background-color: blue;
}

#opt2Menu{
	display: block;
	top: 10px;
	right: 10px;
	background-color: blue;
	font-size: 30px;
}

/* Menu Principal */
#HoverMenu{
	display: none;
	width: 100%;
	left: 0px;
	top: 0px;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.25);
	overflow-x: hidden;
	height: 100%;
	z-index: 5001;
}
#nav1{
	background-color: rgba(0, 0, 0, 0.25);
	display: block;
	height: 10px;
	width: 300px;
}
#MPr{
	width: 300px;
	background: blue;
	margin: 0px;
	height: 100%;
	position: fixed;
	text-decoration: none;
	left: 0px;
	padding: 0px;
}
#MPr li{
	color: white;
	font-size: 20px;
	outline: none;
	display: list-item;
}
#MPr li a{
	display: block;
	padding: 10px 1em;
}
#MPr li a:hover{
	background-color: white;
	color: blue;
}
#MenuTab{
	width: 70%;
	height: 90%;
	right: 5%;
	top: 5%;
	position: fixed;
	background-color: rgba(0, 0, 200, 0.5);
}
#Tabs{
	background-color: rgba(0, 0, 228, 0.75);
	padding: 7.5px 1em;
}
#Tabs span{
	color: blue;
	border-radius: 5px 5px 0px 0px;
	padding: 5px 10px;
}
#Tabs .active{
	background-color: white;
	cursor: pointer;
}
#Tabs .inactive{
	background-color: rgb(200, 200, 200);
}
#Content section{
	background-color: rgba(0, 0, 200, 0.5);
}
#Content{
	width: 70%;
	height: 90%;
	right: 5%;
	top: 10%;
	position: fixed;
	background-color: rgba(0, 0, 200, 0.5);
}
#Content a{
	position: relative;
	float: left;
	height: 130px;
	width: 250px;
	background: blue;
	display: block;
	left: 0%;
}
#Content a img{
	float: left;
	height: 128px;
	width: 128px;
}
#Content .active{
	display: block;
}
#Content .inactive{
	display: none;
}
#breakout{
	display: none;
	background: black;
}
#bc1, #bc2{
	color: white;
	height: 20px;
	text-decoration: none;
	width: 160px;
}
#bc1{
	background-color: white;
	color: blue;
}
#bc2{
	background-color: #FFFD0A;
}
pre{
	border: solid white;
}
#EmBreve{
	font-size: 200px;
	position: fixed;
	width: 100%;
}
#EmBreve :hover{
	background-color: white;
	color: rgb(0,0,228);
}
#allp{
	width: 99.6%;
	text-align: center;
	background: white;
	color: blue;
	position: absolute;
	height: 20px;
	border: solid white;
	font-weight: bold;
}
#allp :hover{
	color: white;
	background: rgb(0, 0, 200);
	border-color: rgb(0, 0, 200);
}

/* Menu Alternativo */
#subMenu{
	display: none;
	right: 0px;
	top: 64px;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.25);
	overflow-x: hidden;
	z-index: 5001;
}

#nav2{
	background-color: rgba(0, 0, 0, 0.25);
	display: block;
	height: 10px;
}

#NPr{
	width: 300px;
	background: blue;
	margin: 0px;
	position: fixed;
	text-decoration: none;
	right: 0px;
	padding: 0px;
	border: white solid 1px;
}
#NPr li{
	color: white;
	font-size: 20px;
	outline: none;
	display: list-item;
	text-align: right;
}
#NPr li a{
	display: block;
	padding: 10px 1em;
}
#NPr li a:hover{
	background-color: white;
	color: blue;
}
