/* Cleber Matheus WebSite Versão Mobile v0.9.0.8 */
h1{
	font-size: 25px;
	top: -20px;
	position: absolute;
	width: 90%;
	left: 36px;
	height: auto;
}
h2{
	font-size: 20px;
}
#conteudo{
	width: 100%;
	left: 0%;
	top: 40px;
	position: absolute;
	height: auto;
}
#lateral{
	display: none;
	overflow-x: hidden;
	overflow-y: auto;
}
#b1,#b2,#b3,#b4,#b5,#b6,#b7,#b8,#b9,#b10,#b11,#b12,#b13,#b14,#b15,#b16,#b17,#b18,#b19,#b20{
	width: 50px;
	height: 50px;
}
#b1b,#b2b,#b3b{
	width: 50px;
	height: 50px;
}
#login{
	width: 100%;
}
#option{
	display: block;
	top: 0px;
	right: 0px;
	position: fixed;
}
#leg1{
	display: none;
}
#app div img{
	width: 100%;
}
#app div{
	width: 75px;
	height: 75px;
}
#optMenu, #Mimg{
	height: 32px;
	width: 32px;
}
#MenuTab{
	display: none;
}
