/* Cleber Matheus WebSite Versão Mobile v0.9.0.8 */
h1{
	font-size: 25px;
	top: -20px;
	position: absolute;
	width: 90%;
	left: 36px;
	height: auto;
}
h2{
	font-size: 20px;
}
#conteudo{
	width: 100%;
	left: 0%;
	top: 40px;
	position: absolute;
	height: auto;
}
#login{
	width: 100%;
}
#leg1{
	display: none;
}
#app div img{
	width: 100%;
}
#app div{
	width: 75px;
	height: 75px;
}
#optMenu, #Mimg{
	height: 32px;
	width: 32px;
}
#MenuTab{
	display: none;
}
#Ads{
	display: none;
}
