#black_overlay{
	display: none;
	position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index:1001;
}
#white_content, #login1, #ep1, #video1{
	display: none;
    position: fixed;
    top: 10%;
	left: 10%;
    width: 70%;
    height: 70%;
    padding: 5px;
    border: 5px solid blue;
    background-color: rgb(0,0,200);
    z-index: 1002;
    overflow: auto;
}
article{
	width: 200px;
	overflow-x: hidden;
	overflow-y: auto;
}
article img{
	width: 200px;
	height: 200px;
}
video:active{
	display: block;
}
#close{
	z-index: 2000;
	position: fixed;
	top: 0px;
	right: 0px;
	background: blue;
}