<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <remove value="index.htm" />
                <remove value="Default.asp" />
                <remove value="Default.htm" />
            </files>
        </defaultDocument>
        <staticContent>
            <!--mimeMap fileExtension=".mp4" mimeType="video/mp4" /-->
            <!--mimeMap fileExtension=".ogv" mimeType="video/ogg" /-->
        </staticContent>
    </system.webServer>
    <system.net>
        <mailSettings>
            <smtp from="">
                <network defaultCredentials="false" host="localhost" />
            </smtp>
        </mailSettings>
    </system.net>
    <system.web>
        <sessionState cookieless="AutoDetect" />
    </system.web>
</configuration>
